<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
<div class="component">
	<div class="component-group">
		<div class="component-title">
			树状展开组件
		</div>
		<div class="component-content">
			<ul class='tree-group'>
				<li shop_id='1'>
					<span><i class="glyphicon glyphicon-add"></i> 第一级</span>
					<ul>
						<li class="" shop_id='5'>
							<span><i class="glyphicon glyphicon-add"></i> 第二级</span>
							<ul>
								<li class="" shop_id='7'>
									<span><i class="glyphicon glyphicon-add"></i>第三级</span>
									<ul>
										<li class="" shop_id='7'>
											<span>第四级</span>
										</li>
										<li class="" shop_id='8'>
											<span>第四级</span>
										</li>
									</ul>
								</li>
								<li class="" shop_id='8'>
									<span>第三级</span>
								</li>
							</ul>
						</li>
						<li class="" shop_id='6'>
							<span><i class="glyphicon glyphicon-add"></i> 第二级</span>
							<ul>
								<li class="" shop_id='7'>
									<span>第三级</span>
								</li>
								<li class="" shop_id='8'>
									<span>第三级</span>
								</li>
							</ul>
						</li>
						<li class="" shop_id='7'>
							<span><i class="glyphicon glyphicon-add"></i> 第二级</span>
							<ul>
								<li class="" shop_id='7'>
									<span>第三级</span>
								</li>
								<li class="" shop_id='8'>
									<span>第三级</span>
								</li>
							</ul>
						</li>
						<li class="" shop_id='8'>
							<span><i class="glyphicon glyphicon-add"></i> 第二级</span>
						</li>
					</ul>
				</li>
				<li shop_id='2'>
					<span><i class="glyphicon glyphicon-add"></i> 第一级</span>
				</li>
				<li shop_id='3'>
					<span><i class="glyphicon glyphicon-add"></i> 第一级</span>
				</li>
				<li shop_id='4'>
					<span><i class="glyphicon glyphicon-add"></i> 第一级</span>
				</li>
			</ul>
		</div>
	</div>
	<div class="component-group">
		<div class="component-title">
			弹框组件
		</div>
		<div class="component-content">
			<div class="button alert-success">成功</div>
			<div class="button alert-info">一般</div>
			<div class="button alert-warning">警告</div>
		</div>
	</div>
	<div class="component-group">
		<div class="component-title">
			轮播图组件
		</div>
		<div class="component-content">
			<div class="plate-midle">
				<div class="plate-midle">
					<a href="" index-data='1'><img src="./images/banner1.jpg" alt=""></a>
					<a href="" index-data='2'><img src="./images/banner2.png" alt=""></a>
					<a href="" index-data='3'><img src="./images/banner3.png" alt=""></a>
					<a href="" index-data='4'><img src="./images/banner2.png" alt=""></a>
					<a href="" index-data='5'><img src="./images/banner3.png" alt=""></a>
					<div class="slide-dot clearfix"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="component-group">
		<div class="component-title">
			表单组件
		</div>
		<div class="component-content clearfix form-control">
			<input type="text" name='user'>
			<input type="text" name='tel'>
			<input type="text" name='keyword'>
			<div class="getParams">
				获取到的数据
				<pre class="code">

				</pre>
			</div>
			<div class="button alert-info submit">
				提交
			</div>
		</div>
	</div>
</div>
</body>
</html>