<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>盘石全球新经济平台</title>
</head>
<body>
	<div class="call-us">
		<i class="glyphicon glyphicon-callus"></i>
		联系我们
	</div>
	<header>
	</header>
	<div class="banner-group">
	</div>
	<div class="child-show" style="display: none;">
		<div class="close">
			<i class="glyphicon glyphicon-close"></i>
		</div>
		<div class="contain" id='childShow'></div>
	</div>
	<div class="contain-body contain">
		<div class="contain-title">
			产品介绍
		</div>
		<div class="contain-content clearfix">
			<div class="introduce" index='1'>
				<img src="../images/五网合一.png" alt="">
				<div class="text-center">五网合一，全套式建站，提供客户最丰富 最完整的优质服务。</div>
				<div class="scal-content">五网合一</div>
			</div>
			<div class="introduce" index='2'>
				<img src="../images/全网海量.png" alt="">
				<div class="text-center">聚合全网优质媒介资源，依托自身完整运 营体系，日可竞价海量流量。</div>
				<div class="scal-content">全网海量</div>
			</div>
			<div class="introduce" index='3'>
				<img src="../images/客户信任.png" alt="">
				<div class="text-center">权威认证信用保障，您的每一笔交易都能 赢得买家信任，共建客户信任。</div>
				<div class="scal-content">客户信任</div>
			</div>
		</div>
	</div>
	<div style="background: url(../images/user-bg.png) repeat">
		<div class="contain-body contain">
			<div class="contain-title" style='color: white'>
				客户案例
			</div>
			<div class="contain-content clearfix" id="user-content">
				
			</div>
		</div>
	</div>
	<div class="contain-body contain market">
		<div class="contain-title">
			产品优势
		</div>
		<div class="contain-content clearfix">
			<img src="" alt="">
			<img src="" alt="">
		</div>
	</div>
	<footer>
	</footer>
	<div class="modal-form" style="display: none;">
		<div class="modal-body" style="background: url('../images/form.png')">
			<div class="close">
				<i class="glyphicon glyphicon-close"></i>
			</div>
			<div class="modal-title text-center">联系我们</div>
			<div class="modal-content">
				<div class="input-item clearfix">
					<div class="input-title">
						姓&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp名
					</div>
					<input type="text" name='name' placeholder="请输入您的姓名">
				</div>
				<div class="input-item clearfix">
					<div class="input-title">
						联系方式
					</div>
					<input type="text" name='tele' placeholder="请输入您的联系方式">
				</div>
				<div class="input-item clearfix">
					<div class="input-title">
						反馈内容
					</div>
					<textarea type="text" name='content' placeholder="内容不能多于300字"></textarea>
				</div>
				<div class="btn">提交</div>
			</div>
		</div>
	</div>
</body>
</html>