<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>美猴王改版啦美滋滋</title>
</head>
<body>
	<header class="clearfix">
		<span class='pull-left'>欢迎来到美猴王批发市场</span>
		<a href='' class='pull-left'>请登录</span>
		<a href=''>用户中心</a>
		<a href=''>网站导航</a>
		<a href=''>帮助</a>
	</header>
	<div class="search-group clearfix">
		<div class="logo-group clearfix">
			<img src="http://www.mhw001.com//shop/static/default/images/houzi.png" alt="" class='monkey'>
			<img class="logo" src="http://www.mhw001.com//image.php/shop/data/upload/media/plantform/2230f966c41df5f39830e6b80ee76c73/image/20170725/1500971814508043.png!240x60.png" alt="">
		</div>
        <select class="search-types" style="width: 100px">
            <option value="goods" selected="">商 品</option>
            <option value="shop">供应商</option>
        </select>
        <form name="form_search" id="form_search" action="">
            <input type="hidden" id="search_ctl" name="ctl" value="Goods_Goods">
            <input type="hidden" id="search_met" name="met" value="goodslist">
            <input type="hidden" name="typ" value="e">
            <input name="keywords" id="site_keywords" value="" type="text" class="" onclick="this.value = '';" style="height: 50px;">
            <input type="submit" style="display: none;">
        </form>
        <div class="select-button pull-left">
        	<a href="#" id="site_search" style="color: white">搜索</a>
        </div>
    </div>
    <section class="floor-group">
    	<div class="floor-top">
    		<div class="contain clearfix">
    			<div class="floor-nav text-center">
	    			<a href="">货源市场</a>
	    		</div>
	    		<div class="floor-content">
	    			<ul>
	    				<li><a href="">首 页</a></li>
	    				<li><a href="">热销商品</a></li>
	    				<li><a href="">诚信商家</a></li>
	    				<li><a href="">诚信商家</a></li>
	    				<li><a href="">促 销</a></li>
	    			</ul>
	    		</div>
    		</div>
    	</div>
    	<div class="floor-banner">
    		<div class="contain clearfix">
    			<div class="floor-nav text-center">
	    			<ul>
	    				<li data-show='1'>
	    					<a href="">
	    						<img src="../images/icon.png" alt=""><span>美妆/个护/大便</span>
	    						<i class="glyphicon glyphicon-turn-right pull-right"></i>
	    					</a>
	    				</li>
	    				<li data-show='2'>
	    					<a href="">
	    						<img src="../images/icon.png" alt=""><span>美妆/个护</span>
	    						<i class="glyphicon glyphicon-turn-right pull-right"></i>
	    					</a>
	    				</li>
	    				<li data-show='3'>
	    					<a href="">
	    						<img src="../images/icon.png" alt=""><span>美妆/个护</span>
	    						<i class="glyphicon glyphicon-turn-right pull-right"></i>
	    					</a>
	    				</li>
	    				<li data-show='4'>
	    					<a href="">
	    						<img src="../images/icon.png" alt=""><span>美妆/个护</span>
	    						<i class="glyphicon glyphicon-turn-right pull-right"></i>
	    					</a>
	    				</li>
	    				<li data-show='5'>
	    					<a href="">
	    						<img src="../images/icon.png" alt=""><span>美妆/个护</span>
	    						<i class="glyphicon glyphicon-turn-right pull-right"></i>
	    					</a>
	    				</li>
	    				<li data-show='6'>
	    					<a href="">
	    						<img src="../images/icon.png" alt=""><span>美妆/个护</span>
	    						<i class="glyphicon glyphicon-turn-right pull-right"></i>
	    					</a>
	    				</li>
	    				<li data-show='7'>
	    					<a href="">
	    						<img src="../images/icon.png" alt=""><span>美妆/个护</span>
	    						<i class="glyphicon glyphicon-turn-right pull-right"></i>
	    					</a>
	    				</li>
	    				<li data-show='8'>
	    					<a href="">
	    						<img src="../images/icon.png" alt=""><span>美妆/个护</span>
	    						<i class="glyphicon glyphicon-turn-right pull-right"></i>
	    					</a>
	    				</li>
	    			</ul>
	    			<div class="floor-nav--show">
	    				<div class="floor--group floor--show-1">

	    				</div>
	    				<div class="floor--group floor--show-2">
	    					2
	    				</div>
	    				<div class="floor--group floor--show-3">
	    					3
	    				</div>
	    				<div class="floor--group floor--show-4">
	    					4
	    				</div>
	    				<div class="floor--group floor--show-5">
	    					5
	    				</div>
	    				<div class="floor--group floor--show-6">
	    					6
	    				</div>
	    				<div class="floor--group floor--show-7">
	    					7
	    				</div>
	    				<div class="floor--group floor--show-8">
	    					<div class="pull-left" style="width: 530px;">
	    						<div class="floor--show--content clearfix">
	    						<div class="floor--show--title">
	    							护肤
	    						</div>
	    						<div class="floor--show--list">
	    							<ul>
	    								<li><a href="">爽肤水</a></li>
	    								<li><a href="">爽肤水</a></li>
	    								<li><a href="">爽肤水</a></li>
	    								<li><a href="">爽肤水</a></li>
	    								<li><a href="">爽肤水</a></li>
	    								<li><a href="">爽肤水</a></li>
	    								<li><a href="">爽肤水</a></li>
	    								<li><a href="">爽肤水</a></li>
	    								<li><a href="">爽肤水</a></li>
	    								<li><a href="">爽肤水</a></li>
	    								<li><a href="">爽肤水</a></li>
	    							</ul>
	    						</div>
	    					</div>
	    					<div class="floor--show--content clearfix">
	    						<div class="floor--show--title">
	    							护肤
	    						</div>
	    						<div class="floor--show--list">
	    							<ul>
	    								<li><a href="">爽肤水</a></li>
	    								<li><a href="">爽肤水</a></li>
	    								<li><a href="">爽肤水</a></li>
	    								<li><a href="">爽肤水</a></li>
	    								<li><a href="">爽肤水</a></li>
	    								<li><a href="">爽肤水</a></li>
	    								<li><a href="">爽肤水</a></li>
	    								<li><a href="">爽肤水</a></li>
	    								<li><a href="">爽肤水</a></li>
	    								<li><a href="">爽肤水</a></li>
	    								<li><a href="">爽肤水</a></li>
	    							</ul>
	    						</div>
	    					</div>
	    					<div class="floor--show--content clearfix">
	    						<div class="floor--show--title">
	    							护肤
	    						</div>
	    						<div class="floor--show--list">
	    							<ul>
	    								<li><a href="">爽肤水</a></li>
	    								<li><a href="">爽肤水</a></li>
	    								<li><a href="">爽肤水</a></li>
	    								<li><a href="">爽肤水</a></li>
	    								<li><a href="">爽肤水</a></li>
	    								<li><a href="">爽肤水</a></li>
	    								<li><a href="">爽肤水</a></li>
	    								<li><a href="">爽肤水</a></li>
	    								<li><a href="">爽肤水</a></li>
	    								<li><a href="">爽肤水</a></li>
	    								<li><a href="">爽肤水</a></li>
	    							</ul>
	    						</div>
	    					</div>
	    					</div>
	    					<a href=""><img src="../images/supply.jpg" alt=""></a>
	    					<a href=""><img src="../images/supply.jpg" alt=""></a>
	    				</div>
	    			</div>
	    		</div>
	    		<div class="floor-content">
	    			<div class="plate-midle">
						<a href="" index-data='1'><img src="./images/banner1.jpg" alt=""></a>
						<a href="" index-data='2'><img src="./images/banner2.png" alt=""></a>
						<a href="" index-data='3'><img src="./images/banner3.png" alt=""></a>
						<a href="" index-data='4'><img src="./images/banner2.png" alt=""></a>
						<a href="" index-data='5'><img src="./images/banner3.png" alt=""></a>
						<div class="slide-dot clearfix"></div>
					</div>
					<div class="slide">
						<div class="goods-slide clearfix">
							<div class="goods-slide-group clearfix">
								<a href="">
									<img src="../images/supply.jpg" alt="">
									<div class="text-center">我是内容</div>
								</a>
								<a href="">
									<img src="../images/supply.jpg" alt="">
									<div class="text-center">我是内容</div>
								</a>
								<a href="">
									<img src="../images/supply.jpg" alt="">
									<div class="text-center">我是内容</div>
								</a>
								<a href="">
									<img src="../images/supply.jpg" alt="">
									<div class="text-center">我是内容</div>
								</a>
								<a href="">
									<img src="../images/supply.jpg" alt="">
									<div class="text-center">我是内容</div>
								</a>
								<a href="">
									<img src="../images/supply.jpg" alt="">
									<div class="text-center">我是内容</div>
								</a>
							</div>
						</div>
						<div class="turn-block pull-left" index="-1">
		                    <i class="glyphicon glyphicon-turn-left"></i>
		                </div>
		                <div class="turn-block pull-right" index="+1">
		                    <i class="glyphicon glyphicon-turn-right"></i>
		                </div>
					</div>
	    		</div>
	    		<div class="floor-right">
	    			<div class="floor-user">
	    				<img src="../images/houzi.png" alt="">
	    				<div style="font-size: 14px;line-height: 40px" class='text-center'>Hi，<span>心机宝</span>下午好！</div>
	    				<div style="font-size: 12px" class='text-center'>让天下的企业没有难做的生意！</div>
	    				<div class="btn-group">
	    					<div class="btn btn-default"><a href="">登录</a></div>
	    					<div class="btn"><a href="">注册</a></div>
	    				</div>
	    				<div class="cert-group">
	    					<div class="cert-left">
	    						<a href="">
	    							<i class="glyphicon glyphicon-cert-left"></i>
	    							<div>商家认证</div>
	    						</a>
	    					</div>
	    					<div class="cert-right">
	    						<a href="">
	    							<i class="glyphicon glyphicon-cert-right"></i>
	    							<div>品质保障</div>
	    						</a>
	    					</div>
	    				</div>
	    			</div>
	    			<div class="floor-article">
	    				<div class="floor-article-title">
	    					<ul>
	    						<li art-index='1'>公告</li>
	    						<li art-index='2'>新闻</li>
	    						<li art-index='3'>卖家入门</li>
	    						<li art-index='4'>买家入门</li>
	    					</ul>
	    				</div>
	    				<div class="floor-article-content">
	  						<div class="floor-article-list" article-index=1>
	  							<ul>
	  								<li><a href="">1</a></li>
	  								<li><a href="">5</a></li>
	  							</ul>
	  						</div>
	  						<div class="floor-article-list" article-index=2>
	  							<ul>
	  								<li><a href="">2</a></li>
	  								<li><a href="">5</a></li>
	  							</ul>
	  						</div>
	  						<div class="floor-article-list" article-index=3>
	  							<ul>
	  								<li><a href="">3</a></li>
	  								<li><a href="">3</a></li>
	  							</ul>
	  						</div>
	  						<div class="floor-article-list" article-index=4>
	  							<ul>
	  								<li><a href="">4</a></li>
	  								<li><a href="">2</a></li>
	  							</ul>
	  						</div>
	    				</div>
	    			</div>
	    		</div>
    		</div>
    	</div>
    </section>
    <div class="contain">
    	<div class="goods-supply" style="height: 250px;">
    		<div class="supply-title">
    			优选商家<span>大品牌商家 值得信赖</span>
    		</div>
    		<div class="supply-content clearfix">
    			<div class="shop-slide">
					<div class="shops-slide clearfix">
						<div class="shops-slide-group clearfix">
							<a href="">
								<img src="../images/supply.jpg" alt="">
								<div class="text-center">我是内容</div>
								<div class="text-center">我是内容</div>
							</a>
							<a href="">
								<img src="../images/supply.jpg" alt="">
								<div class="text-center">我是内容</div>
								<div class="text-center">我是内容</div>
							</a>
							<a href="">
								<img src="../images/supply.jpg" alt="">
								<div class="text-center">我是内容</div>
								<div class="text-center">我是内容</div>
							</a>
							<a href="">
								<img src="../images/supply.jpg" alt="">
								<div class="text-center">我是内容</div>
								<div class="text-center">我是内容</div>
							</a>
							<a href="">
								<img src="../images/supply.jpg" alt="">
								<div class="text-center">我是内容</div>
								<div class="text-center">我是内容</div>
							</a>
							<a href="">
								<img src="../images/supply.jpg" alt="">
								<div class="text-center">我是内容</div>
								<div class="text-center">我是内容</div>
							</a>
						</div>
					</div>
					<div class="turn-block pull-left" index="-1">
	                    <i class="glyphicon glyphicon-turn-left"></i>
	                </div>
	                <div class="turn-block pull-right" index="+1">
	                    <i class="glyphicon glyphicon-turn-right"></i>
	                </div>
				</div>
    		</div>
    	</div>
    </div>
    <div class="contain">
    	<div class="goods-supply" style="height: auto">
    		<div class="supply-title">
    			品质好货<span>品质保障，优选好货</span>
    		</div>
    		<div class="supply-content clearfix">
    			<div class="goods-one">
    				<a href=""><img src="../images/goods.jpg" alt=""></a>
    				<div class="goods-price text-center">$ 15</div>
    				<div class="goods-description">2017女装冬装新款中长款大码韩版a字 羽绒棉服女外套厂家批发</div>
    			</div>
    			<div class="goods-one">
    				<a href=""><img src="../images/goods.jpg" alt=""></a>
    				<div class="goods-price text-center">$ 15</div>
    				<div class="goods-description">2017女装冬装新款中长款大码韩版a字 羽绒棉服女外套厂家批发</div>
    			</div>
    			<div class="goods-one">
    				<a href=""><img src="../images/goods.jpg" alt=""></a>
    				<div class="goods-price text-center">$ 15</div>
    				<div class="goods-description">2017女装冬装新款中长款大码韩版a字 羽绒棉服女外套厂家批发</div>
    			</div>
    			<div class="goods-one">
    				<a href=""><img src="../images/goods.jpg" alt=""></a>
    				<div class="goods-price text-center">$ 15</div>
    				<div class="goods-description">2017女装冬装新款中长款大码韩版a字 羽绒棉服女外套厂家批发</div>
    			</div>
    			<div class="goods-one">
    				<a href=""><img src="../images/goods.jpg" alt=""></a>
    				<div class="goods-price text-center">$ 15</div>
    				<div class="goods-description">2017女装冬装新款中长款大码韩版a字 羽绒棉服女外套厂家批发</div>
    			</div>
    			<div class="goods-one">
    				<a href=""><img src="../images/goods.jpg" alt=""></a>
    				<div class="goods-price text-center">$ 15</div>
    				<div class="goods-description">2017女装冬装新款中长款大码韩版a字 羽绒棉服女外套厂家批发</div>
    			</div>
    			<div class="goods-one">
    				<a href=""><img src="../images/goods.jpg" alt=""></a>
    				<div class="goods-price text-center">$ 15</div>
    				<div class="goods-description">2017女装冬装新款中长款大码韩版a字 羽绒棉服女外套厂家批发</div>
    			</div>
    			<div class="goods-one">
    				<a href=""><img src="../images/goods.jpg" alt=""></a>
    				<div class="goods-price text-center">$ 15</div>
    				<div class="goods-description">2017女装冬装新款中长款大码韩版a字 羽绒棉服女外套厂家批发</div>
    			</div>
    			<div class="goods-one">
    				<a href=""><img src="../images/goods.jpg" alt=""></a>
    				<div class="goods-price text-center">$ 15</div>
    				<div class="goods-description">2017女装冬装新款中长款大码韩版a字 羽绒棉服女外套厂家批发</div>
    			</div>
    			<div class="goods-one">
    				<a href=""><img src="../images/goods.jpg" alt=""></a>
    				<div class="goods-price text-center">$ 15</div>
    				<div class="goods-description">2017女装冬装新款中长款大码韩版a字 羽绒棉服女外套厂家批发</div>
    			</div>
    			<div class="goods-one">
    				<a href=""><img src="../images/goods.jpg" alt=""></a>
    				<div class="goods-price text-center">$ 15</div>
    				<div class="goods-description">2017女装冬装新款中长款大码韩版a字 羽绒棉服女外套厂家批发</div>
    			</div>
    			<div class="goods-one">
    				<a href=""><img src="../images/goods.jpg" alt=""></a>
    				<div class="goods-price text-center">$ 15</div>
    				<div class="goods-description">2017女装冬装新款中长款大码韩版a字 羽绒棉服女外套厂家批发</div>
    			</div>
    		</div>
    	</div>
    </div>
    <div class="contain">
    	<div class="goods-supply">
    		<div class="supply-title">
    			行业货源<span>行业优选品质资源</span>
    		</div>
    		<div class="supply-content">
    			<div class="supply-one">
    				<div class="class-name">UI/产品</div>
    				<a href=""><img src="../images/supply.jpg" alt=""></a>
    			</div>
    			<div class="supply-one">
    				<div class="class-name">UI/产品</div>
    				<a href=""><img src="../images/supply.jpg" alt=""></a>
    			</div>
    			<div class="supply-one">
    				<div class="class-name">UI/产品</div>
    				<a href=""><img src="../images/supply.jpg" alt=""></a>
    			</div>
    			<div class="supply-one">
    				<div class="class-name">UI/产品</div>
    				<a href=""><img src="../images/supply.jpg" alt=""></a>
    			</div>
    			<div class="supply-one">
    				<div class="class-name">UI/产品</div>
    				<a href=""><img src="../images/supply.jpg" alt=""></a>
    			</div>
    			<div class="supply-one">
    				<div class="class-name">UI/产品</div>
    				<a href=""><img src="../images/supply.jpg" alt=""></a>
    			</div>
    		</div>
    	</div>
    </div> 	
    <div class="banner-group contain">
    	<a href=""><img src="../images/banner2.jpg" alt=""></a>
    	<a href=""><img src="../images/banner.png" alt=""></a>
    </div>
    <footer>
    	<div class="contain clearfix" style="height: 220px">
    		<div class="footer-list">
    			<div class="list-title">新手指南</div>
    			<ul class="list-content">
    				<li><a href="">123</a></li>
    				<li><a href="">123</a></li>
    				<li><a href="">123</a></li>
    				<li><a href="">123</a></li>
    			</ul>
    		</div>
    		<div class="footer-list">
    			<div class="list-title">采购商服务</div>
    			<ul class="list-content">
    				<li><a href="">123</a></li>
    				<li><a href="">123</a></li>
    			</ul>
    		</div>
    		<div class="footer-list">
    			<div class="list-title">供应商服务</div>
    			<ul class="list-content">
    				<li><a href="">123</a></li>
    				<li><a href="">123</a></li>
    			</ul>
    		</div>
    		<div class="footer-list">
    			<div class="list-title">盘石平台</div>
    			<ul class="list-content">
    				<li><a href="">123</a></li>
    				<li><a href="">123</a></li>
    			</ul>
    		</div>
    		<div class="img-group" style="margin-left: 140px">
    			<img src="../images/xcx.png" alt="">
    			<div>扫码关注美猴王小程序</div>
    		</div>
    		<div class="img-group">
    			<img src="../images/gzh.png" alt="">
    			<div>扫码关注美猴王公众号</div>
    		</div>
    	</div>
    	<div class="copy-right contain">
			<ul>
				<li><a href="">著作权与商标声明</a></li>
				<li><a href="">法律声明</a></li>
				<li><a href="">服务条款</a></li>
				<li><a href="">隐私声明</a></li>
				<li><a href="">站长登录</a></li>
				<li><a href="">在线支付</a></li>
				<li><a href="">关于我们</a></li>
			</ul>
    		<div class="text-center">总部：中国·杭州拱墅区祥园路45号北部软件园盘石新经济大厦</div>
    		<div class="text-center">copyright©2004-盘石技术股份有限公司 All Rights Resrverd 浙B2-20090026-13</div>
    	</div>
    </footer>
</body>
</html>