<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>美猴王登录</title>
</head>
<body>
	<div class="login-container">
		<div class="login--header">
			<div class="login--main">
				<img src="./images/mhwlogo.png" alt="">
				<span>欢迎登录</span>
			</div>
		</div>
	</div>
	<div class="login-body">
		<div class="login-body--left">
			<img src="./images/mixin.png" alt="">
		</div>
		<div class="login-body--right">
			<div class="right-title">
				账户登录
			</div>
			<div class="input-group" style="position: relative;">
				<input class="lo_user_account" type="text" name='userName'>
				<div class="input-title">用户名/手机号</div>
			</div>
			<div class="input-group">
				<input class="lo_user_password" type="password" name='password' placeholder="密码">
			</div>
			<div class="submit-button">
				登录
			</div>
			<div class="text-right" onclick='loginSubmit()'>立即注册</div>
		</div>
	</div>
	<div class="login--banner">
		<img src="./images/banner.jpg" alt="">
		<img src="./images/banner.jpg" alt="">
	</div>
	<div class="login-footer">
		<span>绍兴市柯桥区华舍余鑫家纺厂    版权所有    地址：浙江省绍兴市柯桥区华舍山阴路武警部队对面    电话：0318-5339600    18632069699</span>
		<span>增值电信业务经营许可证：京ICP证010051号         隐私声明 | 免责声明 | 技术支持：浙江盘石信息技术股份有限公司</span>
	</div>
</body>
</html>