<div class="contain">
	<img src="../images/log.png" alt="" class="pull-left">
	<ul class="pull-left">
		<li id='shopContent'><a>产品介绍</a></li>
		<li id='shopChance'><a>产品优势</a></li>
		<li id='customAnswer'><a>客户案例</a></li>
		<li><a>联系我们</a></li>
	</ul>
</div>